<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals."/>
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
  <link rel="stylesheet" href="/css/bragdoc.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script> {# para exibir videos: https://github.com/clappr/clappr#}
  <title>Giovani {{ title }}</title>
</head>
<body>
  <div class="content">

    <header class="header container">
      {% include "header.njk" %}
    </header>

    <main class="main container">
      {{ content | safe }}
    </main>

  </div>
  
  <footer class="footer">
    {% include "footer.njk" %}
  </footer>

  {# Making all external links open in new tabs #}
  <script>
    (function () {
      const links = document.querySelectorAll("a[href^='https://'], a[href^='http://']")
      const host = window.location.hostname

      const isInternalLink = link => new URL(link).hostname === host

      links.forEach(link => {
        if (isInternalLink(link)) return

        link.setAttribute("target", "_blank")
        link.setAttribute("class", "profile__link")
        link.setAttribute("rel", "noopener")
      })
    })()
</script>
</body>
</html>