<footer class="footer">
	<div class="footer__item">
		<div class="footer__logo">
      		<a href="https://github.com/gio-bon" target="_blank"><img src="/images/github.svg" alt="github"></a>
			<a href="https://www.linkedin.com/in/gio-bon/" target="_blank"><img src="/images/linkedin.svg" alt="linkedin"></a>
			<a href="/posts"><img src="/images/markdown.svg" alt="obsidian"></a>
		</div>
	</div>
  	<p>&copy; Giovani Bontempo {% year %}</p>
</footer>