<div class="footer__item">
	<div class="footer__logo">
		<a href="https://github.com/gio-bon" target="_blank"><img src="/images/github.svg"></a>
		<a href="https://www.linkedin.com/in/gio-bon/" target="_blank"><img src="/images/linkedin.svg"></a>
	</div>
	<p>&copy; Giovani Bontempo {% year %}</p>
</div>