<div class="footer__item">
	<div class="footer__logo">
		<a href="https://github.com/gio-bon" target="_blank">GitHub</a>
		<a href="https://www.linkedin.com/in/gio-bon/" target="_blank">LinkedIn</a>
	</div>
	<p>&copy; Giovani Bontempo {% year %}</p>
</div>