<header class="header container">
<h1 class="header__title">
    <a href="/">Giovani Bontempo</a>
</h1>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul class="header__links">
        <li>
        <a class="header__link" href="/about">Sobre</a>
        </li>
        <li>
        <a class="header__link" href="/projects">Projetos</a>
        </li>
        <li>
        <a class="header__link" href="/contact">Contato</a>
        </li>
    </ul>
</nav>
</header>