<article class="project-card">  
  <div class="project-card__body">
    <h3 class="project-card__title">
      <a href="{{ post.url }}"><h3>{{ post.data.title }}</h3></a>
    </h3>
    <p class="project-card__summary">{{ post.data.summary }} - <code>({{ post.data.date | dateDisplay }})</code></p>
  </div>
</article>