<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Giovani Bontempo, Dev", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
    <div class="txt-init">
    <p>Olá, sou o Giovani, sou um Desenvolvedor.</p>
  </div>
  </div>
</section>
