<section class="technologies">
  <h2 class="technologies__heading">Tecnologias que trabalho</h2>
  <ul class="technologies__list">

    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/dotnet.svg" alt=".NET logo">
      </div>
      <h3 class="technologies__title">.NET</h3>
    </li>

    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/csharp.svg" alt="Csharp logo">
      </div>
      <h3 class="technologies__title">C#</h3>
    </li>

    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/azure.svg" alt="Azure logo">
      </div>
      <h3 class="technologies__title">Azure</h3>
    </li>

    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/python.svg" alt="Python logo">
      </div>
      <h3 class="technologies__title">Python</h3>
    </li>

  </ul>
</section>