
:root{
  --background: #2e3440;
  --background2: #3b4252;
  --background3: #434c5e;
  --background4: #4c566a;
  --color-font: #d8dee9;
  --destaque-color: #eceff4; /* títulos */

  --yellow-nord: #ebcb8b;
  --red-nord: #bf616a ;
  --orange-nord: #d08770;
  --green-nord: #a3be8c;
  --violet-nord: #b48ead;

  --frost-blue: #5e81ac;
  --frost-grey: #81a1c1;
  --frost-acqua: #88c0d0;
  --frost-green: #8fbcbb;

  --entry-line: rgba(255,255,255,0.2);
  --entry-circle: rgba(255,255,255,0.3);
  --code-text: rgba(255,255,255,0.5);
  --code-block: rgba(255,255,255,0.1);
  --link-text: rgba(255,255,255,0.5);
  --link-hover: orange;
  --quote-block-edge: rgb(255, 165, 0);
  --quote-block-text: rgba(255, 165, 0,0.5);
  --table-border: #999999;
  --footer: rgba(255,255,255,0.3);
  --tag: rgba(255,255,255,0.3);
}

.corpo {
    color: var(--color-font);
}

.bragdoc__entry {
    position: relative;
    font-size: 12px;
    max-width: 80vh;
  }
  
  .bragdoc__entry:first-child {
    margin-top: 0;
  }
  
  .bragdoc__entry:before {
    height: 100%;
    position: absolute;
    background-color: var(--background4);
    width: 2px;
    content: "";
    top: 30px;
  }
  
  .bragdoc__entry:last-child:before {
    background-color: var(--background);
  }
  
  .bragdoc__taglist {
    margin-left: 1em;
    padding-left: 1em;
    font-weight: bolder;
  }
  
  .bragdoc__taglist > * {
    /* border: 1px solid var(--background4); */
    background: var(--background3);
    color: var(--destaque-color);
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    margin-right: 1em;
  }
  
  /* Entry Content */
  
  .bragdoc__entry-block {
    margin-left: 1em;
    padding: 1em;
  }
  
  .bragdoc__entry-title {
    margin-top: 4px;
    color: var(--destaque-color);
    font-size: 1.5em;
    padding-bottom: 12px;
  }
  
  .bragdoc__entry-date {
    line-height: 3em;
    color: var(--red-nord);
    font-weight: 700;
  }
  
  /* Bragdoc milestone circle */
  
  .bragdoc__entry-milestone {
    position: absolute;
    height: 5px;
    width: 5px;
    border: 5px solid var(--background4);
    background-color: var(--background);
    left: 0;
    top: 30px;
    margin-top: -2px;
    margin-left: -3px;
    border-radius: 100px;
  }
  
  /* Bragdoc Entry Content */
  
  .bragdoc__entry-content > * {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  
  .bragdoc__entry-content > h1 {
    font-size: 1.15em;
  }
  
  .bragdoc__entry-content > h2, h3, h4, h5, h6 {
    font-size: 1em;
    color: var(--destaque-color);
  }

@media only screen and (max-width: 1400px) {

.bragdoc__container {
    /* Center the bragdoc*/
    margin: 0 auto;
}

.bragdoc__entry-title {
    font-size: 1.25em;
}
}

@media only screen and (max-width: 870px) {

.bragdoc__container {
    padding-left: 2em;
    padding-right: 2em;
}
}