---
title: "Giovani Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">Sobre mim</h2>    

  <p>Estudante de ciência da computação na Univesp, como Bacharelado em Tecnologia da Informação e trabalho como desenvolvedor na GFT.</p>  

  <p>Minhas estatísticas de código no <a class="profile__link" target="_blank" href="https://codestats.net/users/gio-bon">Code Stats</a></p>

  <p>As vezes escrevo <a class="profile__link" href="/posts">algumas coisas</a> sobre assuntos que me interessam, da área de desenvolvimento ou não.</p>
</section>