---
title: "Giovani Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">Sobre mim</h2>    

  <p>Estudante de ciência da computação na Univesp, como Bacharelado em Tecnologia da Informação e trabalho como desenvolvedor na GFT.</p>  

  <p>Minhas estatísticas no <a class="profile__link" target="_blank" href="https://codestats.net/users/gio-bon">Code::Stats</a></p>  
</section>