---
title: "About"
layout: "base.njk"
---

<section class="bio prose">
  
  <h2 class="heading--main">Sobre mim</h2>
  <br>
  <p>Meu nome é Giovani e sou desenvolvedor. Me formei como Bacharel em Tecnologia da Informação e, desde então, tenho me dedicado a aprimorar minhas habilidades e conhecimentos na área de desenvolvimento de software.</p>
  <p>Atualmente, estou focado em desenvolvimento em nuvem, também conhecido como "cloud development". Acredito que a nuvem é o futuro da tecnologia e estou empolgado em fazer parte dessa revolução.</p> 
  <br>
  
</section>