---
title: "Curriculum"
layout: "base.njk"
---

<body class="corpo">

{% for entry in collections.bragdoc | reverse %}
  {% if entry.data.public %}
    {% include 'bragdoc-entry.njk' %}
  {% endif %}
{% endfor %}
<body>