---
title: "Curriculum"
layout: "base.njk"
---

<h2 class="heading--main">Curriculum</h2>
<br>
<body class="corpo">

{% for entry in collections.bragdoc | reverse %}
  {% if entry.data.public %}
    {% include 'bragdoc-entry.njk' %}
  {% endif %}
{% endfor %}
<body>