---
title: "Curriculum"
layout: "base.njk"
---
{% block head %}
<link rel="stylesheet" href="/css/bragdoc.css" />
{% endblock %}

<body class="corpo">

{% for entry in collections.bragdoc | reverse %}
  {% if entry.data.public %}
    {% include 'bragdoc-entry.njk' %}
  {% endif %}
{% endfor %}
<body>