---
title: "Posts"
layout: "base.njk"
pagination:
  data: collections.posts
  size: 5
  alias: projects
---

{# itera sobre itens de projeto #}
<h2 class="projects__heading">Postagens</h2>
<div class="project-list">
    {% asyncEach post in collections.posts | reverse%}
        {% include "post-card.njk" %}
    {% endeach %}
<div>

{# mostra a paginação no final da página #}
<nav class="pagination" aria-labelledby="my-pagination">
  <ol class="pagination-list">
    {%- if pagination.pages > 1 %}
        {%- for pageEntry in pagination.pages %}
            <li><a class="pagination-link" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} class="teste" aria-current="page"{% endif %}>{{ loop.index }}</a></li>
        {%- endfor %}
    {%- endif %}
  </ol>
</nav>